input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
}

.calculator {
  display: table;
  background-color: #e0f0f0;
  width: 60%;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 0 auto;
}

.input-container {
  width: 100%;
}

.input {
  display: table;
  font-size: x-large;
  font-weight: normal;
  height: 2rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
  border: 1px solid gray;
}

.titulo {
  text-align: center;
  margin: 1rem;
}